assets /sample-output.json
{
  "name": "Invoice Data Extractor & Organizer",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "17LAxwVUD_bSpVYUSzyHbBJCQFJ-bVTRG",
          "mode": "list",
          "cachedResultName": "Invoice",
          "cachedResultUrl": "https://drive.google.com/drive/folders/17LAxwVUD_bSpVYUSzyHbBJCQFJ-bVTRG"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7a9da389-3317-4dd8-849a-a0ca33aee6ee",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Oak2XyfcuiTsp9ju",
          "name": "BS2&4A"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "9e79ffda-04b5-43e3-8b2d-f06070f5c795",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Oak2XyfcuiTsp9ju",
          "name": "BS2&4A"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "K82254794888957"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "language",
              "value": "eng"
            },
            {
              "name": "isOverlayRequired",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "cfe89769-08a8-4ae5-89b1-1104b7fbf7e0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.ParsedResults[0].ParsedText;\n\nconst lines = text\n  .split(\"\\n\")\n  .map(line => line.trim())\n  .filter(Boolean);\n\n// Invoice Number\nlet invoiceNumber = \"\";\n\nfor (const line of lines) {\n  // Must start with INV and contain at least one digit\n  if (/^INV/i.test(line) && /\\d/.test(line)) {\n    invoiceNumber = line;\n    break;\n  }\n}\n\n// Date\nconst date =\n  lines.find(line => /^\\d{4}-\\d{2}-\\d{2}$/.test(line)) || \"\";\n\n// Customer (first meaningful text after the date)\nlet billTo = \"\";\n\nconst dateIndex = lines.findIndex(line => line === date);\n\nif (dateIndex !== -1) {\n  for (let i = dateIndex + 1; i < lines.length; i++) {\n    const line = lines[i];\n\n    if (\n      line !== \"Unit Price\" &&\n      line !== \"Amount\" &&\n      !line.includes(\"10,000\") &&\n      !line.includes(\"710,000\")\n    ) {\n      billTo = line;\n      break;\n    }\n  }\n}\n\n// Largest amount\nconst amounts = text.match(/\\d{1,3}(?:,\\d{3})*(?:\\.\\d{2})?/g) || [];\nconst amount = amounts.at(-1) || \"\";\n\nreturn [{\n  json: {\n    invoiceNumber,\n    date,\n    billTo,\n    amount\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        0
      ],
      "id": "1ac6da0f-61fe-4e11-8012-16fe7b353755",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14EzE0bdku_9zO6VLAXlK0V86DLpwiB1lGQqPCcKDn98",
          "mode": "list",
          "cachedResultName": "Invoice Record",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14EzE0bdku_9zO6VLAXlK0V86DLpwiB1lGQqPCcKDn98/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14EzE0bdku_9zO6VLAXlK0V86DLpwiB1lGQqPCcKDn98/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Invoice Number": "={{ $json.invoiceNumber }}",
            "Timestamp": "={{$now.format('yyyy-MM-dd HH:mm:ss')}}",
            "Invoice Date": "={{$json.date}}",
            "Customer": "={{$json.billTo}}",
            "Total Amount": "={{$json.amount}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Number",
              "displayName": "Invoice Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Invoice Date",
              "displayName": "Invoice Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Customer",
              "displayName": "Customer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Total Amount",
              "displayName": "Total Amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        0
      ],
      "id": "efaccac6-c2d6-4a84-a335-4effda2dd733",
      "name": "IV Recorder Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "qtNupNmEU4VCVfOQ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5518864435",
        "text": "=🧾 Invoice Processed Successfully  \n📄 Invoice Number: {{ $json['Invoice Number'] }}\n📅 Invoice Date: {{ $json['Invoice Date'] }}\n👤 Customer: {{ $json.Customer }}\n💰 Total Amount: {{ $json['Total Amount'] }} \n✅ Saved automatically to Google Sheets. \n🤖 Processed by n8n + OCR.space",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1040,
        0
      ],
      "id": "7db3e7e9-45bc-41b3-b01a-7bfb12a4fd56",
      "name": "Chatbot",
      "webhookId": "6070183d-19ad-416c-b61a-17d4430d26ac",
      "credentials": {
        "telegramApi": {
          "id": "86r6c9jABDgd5FiC",
          "name": "Invoice Data Extractor & Organizer"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "IV Recorder Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IV Recorder Log": {
      "main": [
        [
          {
            "node": "Chatbot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0a4569e5-dd6b-4a9a-9ab5-088a90bfbf98",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8109642ab6846a9cf1618de304921f5663481ec8cdaee6a52dd360d6de75a743"
  },
  "id": "4dPUFttLJxnN07qK",
  "tags": []
}
